In [190]:
import numpy as np
import pandas as pd

In [191]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

In [192]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [193]:
type(df)

pandas.core.frame.DataFrame

In [194]:
df.shape

(70000, 12)

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB

In [196]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [197]:
df[df['gender'] == 1]['height'].mean(), \
df[df['gender'] == 2]['height'].mean()

(161.35561168460356, 169.94789538210054)

In [198]:
df[(df['gender'] == 2) & (df['smoke'] == 0)]['weight'].median(), \
df[(df['gender'] == 2) & (df['smoke'] == 1)]['weight'].median()

(75.0, 76.0)

In [199]:
df.groupby('alco')[['weight', 'gluc']].agg(np.mean)

         weight      gluc
alco
0     73.975379  1.224923
1     78.258528  1.253454

In [200]:
pd.crosstab(df['smoke'], df['alco'])

alco       0     1
smoke
0      61921  1910
1       4315  1854

In [201]:
df['weight'].quantile(.75)

82.0

In [202]:
df['is_fat'] = (df['weight'] > df['weight'].quantile(.75)).astype('int64')

In [203]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,is_fat
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0

In [204]:
df['gender_bender'] = df['gender'].map({1: 'female', 2: 'male'})

In [205]:
df['gender'].map(d).head()

id
0      male
1    female
2    female
3      male
4    female
Name: gender, dtype: object

In [206]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [207]:
df.groupby('gender')[['alco']].agg(np.mean)

            alco
gender
1       0.025500
2       0.106375

In [208]:
df.groupby('gender')[['smoke']].agg(np.mean).round(2)

        smoke
gender
1        0.02
2        0.22

In [209]:
pd.crosstab(df['gender'], df['smoke'], margins=True)

smoke       0     1    All
gender
1       44717   813  45530
2       19114  5356  24470
All     63831  6169  70000

In [210]:
#stat = df.groupby(['', '']).agg({'': 'sum'})
#
#smoke_pcts = stat.groupby(level=0).apply(lambda x:
#                                                 100 * x / float(x.sum()))

In [211]:
round(df[df['gender'] == 2]['smoke'].mean() / df[df['gender'] == 1]['smoke'].mean())

12.0

In [212]:
round((df[df['smoke']==0]['age']/(30)).median() - (df[df['smoke']==1]['age']/(30)).median())

20

In [213]:
df['age_years'] = np.round(df['age'] / 365.25)

In [214]:
df_oldmales = df[(df['gender'] == 2) & (df['age_years'] >= 60) & (df['age_years'] <= 64)]

In [215]:
sample_lowrisk = df_oldmales[(df_oldmales['cholesterol'] == 1) & 
                            (df_oldmales['ap_hi'] < 120)]['cardio'].mean()
sample_highrisk = df_oldmales[(df_oldmales['cholesterol'] == 3) & 
                            (df_oldmales['ap_hi'] >= 160) & 
                            (df_oldmales['ap_hi'] < 180)]['cardio'].mean()

In [216]:
round(sample_highrisk / sample_lowrisk)

2.0

In [217]:
df['bmi'] = df['weight'] / ((df['height'] / 100) ** 2)
df['bmi'].median() > 25

True

In [218]:
average = df.groupby('gender_bender')['bmi'].mean()
average['female'] < average['male']

False

In [219]:
average = df.groupby('cardio')['bmi'].mean()
average[1] < average[0]

False

In [220]:
male_av = df[(df['gender_bender'] == 'male') & (df['cardio'] == 0) & (df['alco'] == 0)]['bmi'].mean()
female_av = df[(df['gender_bender'] == 'female') & (df['cardio'] == 0) & (df['alco'] == 0)]['bmi'].mean()
male_av < female_av

True

In [221]:
round(len(df[(df['ap_hi'] < df['ap_lo']) \
             | (df['height'] < df['height'].quantile(0.025)) \
             | (df['height'] > df['height'].quantile(0.975)) \
             | (df['weight'] < df['weight'].quantile(0.025)) \
             | (df['weight'] > df['weight'].quantile(0.975))]) \
      / len(df) * 100)

10