In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', 
                 index_col='id', sep=';')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df['gender'] = df['gender'].map({1: 0, 2: 1})
df['age'] = np.round(df['age'] / 365.25).astype(int)
df['weight'] = df['weight'].astype(int)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null int64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: int64(12)
memory usage: 6.9 MB

In [6]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50,1,168,62,110,80,1,1,0,0,1,0
1,55,0,156,85,140,90,3,1,0,0,1,1
2,52,0,165,64,130,70,3,1,0,0,0,1
3,48,1,169,82,150,100,1,1,0,0,1,1
4,48,0,156,56,100,60,1,1,0,0,0,0

In [7]:
y = df['cardio']

In [8]:
X = df.drop('cardio', axis=1)

In [9]:
X.shape, y.shape

((70000, 11), (70000,))

In [10]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=17)

In [11]:
X_train.shape, X_valid.shape

((49000, 11), (21000, 11))

In [12]:
first_tree = DecisionTreeClassifier(random_state=17)

In [13]:
np.mean(cross_val_score(first_tree, X_train, y_train, cv=5))

0.6353268560478661

In [14]:
first_knn = KNeighborsClassifier()

In [15]:
np.mean(cross_val_score(first_knn, X_train, y_train, cv=5))

0.6913469916420885